<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flask App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('page1') }}">Data</a></li>
        <li><a href="{{ url_for('page2') }}">Animation</a></li>
        <li><a href="{{ url_for('wykresy') }}">Charts</a></li>
        <li><a href="{{ url_for('upload') }}">Upload File</a></li>
      </ul>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
      {% if content %}
        <h2>File Content:</h2>
        <pre>{{ content }}</pre>
      {% endif %}
    </div>
  </div>
</body>
</html>
